# Compiled Object files
*.slo
*.lo
*.o

# CMake files ?
*.cmake
*.bin
*.lisp

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# images, pointclouds, 3D models
*.png
*.jpg
*.pcd
*.ply

# compilation objects, libs and binaries
obj/
lib/
bin/

