<launch>
	<include file="$(find openni_launch)/launch/openni.launch"/>

	<node pkg="segment_plans_objects" type="segment_plans_objects" 
				name="segment_plans_objects"
				args="/camera/depth/points /camera/rgb/image_rect"/>
				
	<node pkg="reco_3d" type="reco_obb" name="reco_3d_obb"
				args="$(find reco_3d)/test/obb_stats.txt"/>
</launch>
